<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--第一种解决方案：
            use-default-filters="false"
            如果这个属性是false,表示bean2包下所有的带有声明Bean的注解全部失效。@Component @Controller @Service @Repository全部失效
    -->
    <context:component-scan base-package="bean2" use-default-filters="false">
        <!--只有@Repository被包含进来生效-->
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Repository"/>
    </context:component-scan>

    <!--第二种解决方案：
            use-default-filters="true"
            如果这个属性的值是true，表示bean2下的所有的带有声明Bean的注解全部生效
            use-default-filters="true"默认值就是true，不用写
            context:exclude-filter
    -->

</beans>